html, body {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.container {
  display: flex;
}

.categories-title {
  margin-top: 10vh;
  font-size: x-large;
  width: 65vmax;
}

.left-menu {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background-color: #000000;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  z-index: 1;
}

.top-left-menu {
  font-family: 'Bungee Hairline', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000000;
}

.bottom-left-menu {
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #31071b;
  width: 100%;
}

.profile-photo {
  border-radius: 50%;
  max-width: 60%;
  margin-top: 4vmin;
  padding: 3%;
  
}

.micro-bio{
  text-align: justify;
  color: #e4bd54;
  width: 90%;
  margin-bottom: 4vmin;
}

.header {
  position: fixed;
  top: 0;
  left: 25vw;
  width: 75vw;
  height: 10vh;
  background-color: #31071b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  z-index: 1;

}
.main {
  font-family: 'Baloo Bhai 2', cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 25vw;
  color: #31071b;
  max-height: 90%;
  width: 73vw;
}

.a {
  font-family: 'Baloo Bhai 2', cursive;
  transition: transform 1s;
}

.a:hover {
  transform: scale(125%);
}

a:active {
  color: #e4bd54;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#cin :hover{
  color: #e4bd54;
}

#racha-cuca :hover{
  color: #31071b;
}

.section {
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 15rem;
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 75vw;
}

.section .section-content {
  text-align: justify;
  padding: 1vh;
  min-height: 80%;
  
}
li {
  list-style: circle;
  font-size: large;
}

img {
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 20vmax;
  max-height: fit-content;
}
